@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin opacity($value) {
    opacity: $value;
    filter: alpha(opacity=($value*100));
}